.index {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40rem;
    margin: 2rem;

    img {
        width: 40rem;
        padding: 2rem;
    }
}

section {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: justify;
    margin: 3em 3em;

    div {
        width: 70%;
    }

    h2 {
        font-size: 3em;
        text-align: center;
        margin: 1%;
    }
}

.nosotros {
    display: flex;
    justify-content: space-around;

    div {
        height: 20rem;
        width: 20%;
        border: black 2px solid;
        overflow: hidden;
        position: relative;
        /* ? R elative se aplica a padres, para que sus hijos al tener absolute
        ?se comporten en forma relativa a su contenedor y no a la página */
        display: flex;
        justify-content: space-around;
        margin: 2rem 0;
        flex-direction: column;
        border-radius: 2rem;

        div {
            height: 30%;
            top: 0;
            width: 100%;
            position: absolute;
            background-color: #54e69da8;
        }

        div:hover {
            height: 100%;
            transition: .6s;
            background-color: #6ac798a8;
        }

        h2 {
            font-size: 1.2rem;
            z-index: 10;
        }

        p {
            font-size: 1.4rem;
            z-index: 10;
        }
    }
}

h1 {}

.alquileres {

    h3 {
        font-size: 2em;
    }

    .imagenes_deptos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        height: auto;
        margin: 5vh 0vh;
        gap: 10px;

        .imagen {
            height: 48vh;
            transition: transform .4s;

            &:hover {
                transform: scale(1.2);
            }
        }

        p {
            
        }

    }
}



// .eventos{
//     display: grid;
//     grid-template-columns: repeat(3,1fr);
//     grid-template-rows: repeat(2,1fr);
//     height: auto;
//     margin: 5vh 0vh;

//     h3 {
//         font-size: 2em;
//     }

//     p {
//         width: 50%;
//         text-align: justify;
//         margin-top: 2vh;
//     }
// }

// .imagenes_eventos {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
//     align-items: center;
//     gap: 2em;
// }

.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
}

.consultas {
    display: flex;
    justify-content: center;
    padding: 2vh;

    form {
        display: grid;
        height: 80%;
        width: 50%;
    }
}