.index {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40rem;
    margin: 2rem;

    img {
        width: 40rem;
        padding: 2rem;
    }
}

section {
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: justify;
    margin: 3em 3em;

    div {
        width: 70%;
    }

    h2 {
        font-size: 3em;
        text-align: center;
        margin: 1%;
    }
}
.nosotros{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;

    div{height: 30em;
        width: 18em;
        margin: 5vh 5vw 5vh 5vw;
        border: black 2px solid;
        border-radius: 2rem;
        overflow: hidden;

        img{
            height: 20vh;
        }

        h2{
            font-size: 1.4rem;
            text-align: center;
        }

        p{
            font-size: 1.2rem;
        }
    }
}

.alquileres {

    h3 {
        font-size: 2em;
    }

    .imagenes_deptos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-items: center;
        height: auto;
        margin: 5vh 0vh;
        gap: 10px;

        .imagen {
            height: 48vh;
            transition: transform .4s;

            &:hover {
                transform: scale(1.2);
            }
        }
        }

    }

.ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
}

.consultas {
    display: flex;
    justify-content: center;
    padding: 2vh;

    form {
        display: grid;
        height: 80%;
        width: 50%;
    }
}