@media screen and (max-width: 768px) {
    header {
        width: 100%;
    }

    .imagen {
        width: 300px;
        height: auto;
    }

    .orientacion1{
        display: flex;
        flex-direction: column;
    }
}