@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
footer {
  background-color: black;
  position: absolute;
  width: 100%;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: .5rem 0;
  background-color: #2a1d74;
}

nav a img {
  height: 7rem;
  margin-left: 2rem;
}

nav ul {
  width: 60%;
}

nav ul button:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40rem;
  margin: 2rem;
}

.index img {
  width: 40rem;
  padding: 2rem;
}

.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nosotros div {
  height: 20rem;
  width: 20%;
  border: black 2px solid;
  overflow: hidden;
  position: relative;
  /* ? R elative se aplica a padres, para que sus hijos al tener absolute
        ?se comporten en forma relativa a su contenedor y no a la página */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 2rem;
}

.nosotros div div {
  height: 30%;
  top: 0;
  width: 100%;
  position: absolute;
  background-color: #54e69da8;
}

.nosotros div div:hover {
  height: 100%;
  -webkit-transition: .6s;
  transition: .6s;
  background-color: #6ac798a8;
}

.nosotros div h2 {
  font-size: 1.2rem;
  z-index: 10;
}

.nosotros div p {
  font-size: 1.4rem;
  z-index: 10;
}

#galeria-1, #galeria-2, #galeria-3 {
  margin: 2rem;
  height: 15rem;
}

.depto-1, .depto-2, .depto-3 {
  height: 100%;
  height: 100%;
}

.descripcion-1, .descripcion-2, .descripcion-3 {
  border: black 2px solid;
}

.ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10rem;
}

.consultas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vh;
}

.consultas form {
  display: -ms-grid;
  display: grid;
  height: 80%;
  width: 50%;
}

ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

* {
  margin: 0%;
  padding: 0%;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  background-color: #edeed2;
}

.titulos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5vh 5vh;
}

.foto {
  height: 350px;
  display: inline;
}

.valores li {
  display: block;
  padding: 5px;
  list-style: circle;
}

.valores {
  list-style: circle;
}

.icono {
  padding: 15px;
  width: 50px;
}
/*# sourceMappingURL=style.css.map */