footer {
  background-color: black;
  position: absolute;
  width: 100%; }
  footer ul {
    display: flex;
    justify-content: center;
    padding: 5px; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: .5rem 0;
  background-color: #4d37c9; }
  nav a img {
    height: 7rem;
    margin-left: 2rem; }
  nav ul {
    width: 60%; }
    nav ul button:hover {
      transition: .3s;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; }

.index {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40rem;
  margin: 2rem; }
  .index img {
    width: 40rem;
    padding: 2rem; }

section {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  text-align: justify;
  margin: 3em 3em; }
  section div {
    width: 70%; }
  section h2 {
    font-size: 3em;
    text-align: center;
    margin: 1%; }

.nosotros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center; }
  .nosotros div {
    height: 30em;
    width: 18em;
    margin: 5vh 5vw 5vh 5vw;
    border: black 2px solid;
    border-radius: 2rem;
    overflow: hidden; }
    .nosotros div img {
      height: 20vh; }
    .nosotros div h2 {
      font-size: 1.4rem;
      text-align: center; }
    .nosotros div p {
      font-size: 1.2rem; }

.alquileres h3 {
  font-size: 2em; }

.alquileres .imagenes_deptos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  height: auto;
  margin: 5vh 0vh;
  gap: 10px; }
  .alquileres .imagenes_deptos .imagen {
    height: 48vh;
    transition: transform .4s; }
    .alquileres .imagenes_deptos .imagen:hover {
      transform: scale(1.2); }

.ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10rem; }

.consultas {
  display: flex;
  justify-content: center;
  padding: 2vh; }
  .consultas form {
    display: grid;
    height: 80%;
    width: 50%; }

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

* {
  margin: 0%;
  padding: 0%;
  list-style: none; }

a {
  text-decoration: none; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  background-color: #edeed2; }

@media screen and (max-width: 768px) {
  * {
    font-size: 1em; }
  .navegacion {
    width: 70%; }
    .navegacion button {
      font-size: 1em; }
  section {
    height: 30vh;
    font-size: 0.8em; }
    section h2 {
      font-size: 3em;
      text-align: center;
      margin: 1%; }
  .imagen {
    height: 20vh; }
  .nosotros {
    display: grid;
    grid-template-columns: 1fr;
    height: auto; }
    .nosotros p {
      width: 70%;
      text-align: justify;
      margin-top: 2vh;
      font-size: 1.5em; }
  .alquileres h3 {
    font-size: 2em; }
  .alquileres .imagenes_deptos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    height: auto;
    margin: 5vh 0vh;
    gap: 5px; }
    .alquileres .imagenes_deptos .imagen {
      height: 20vh;
      transition: transform .4s; }
      .alquileres .imagenes_deptos .imagen:hover {
        transform: scale(1.2); } }

@media screen and (max-width: 425px) {
  * {
    font-size: 1em; }
  .navegacion {
    width: 70%; }
    .navegacion button {
      font-size: 0.5em; }
  nav a img {
    height: 7vh; }
  section {
    height: 30vh;
    font-size: 0.8em; }
    section h2 {
      font-size: 3em;
      text-align: center;
      margin: 1%; }
  .imagen {
    height: 20vh; }
  .orientacion1,
  .orientacion2 {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 3vh; }
  .orientacion1 {
    flex-direction: column-reverse; }
  .alquileres h3 {
    font-size: 2em; }
  .alquileres .imagenes_deptos {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-items: center;
    height: auto;
    margin: 5vh 0vh;
    gap: 5px; }
    .alquileres .imagenes_deptos .imagen {
      height: 20vh;
      transition: transform .4s; }
      .alquileres .imagenes_deptos .imagen:hover {
        transform: scale(1.2); } }

.titulos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  margin: 5vh 5vh; }

.foto {
  height: 350px;
  display: inline; }

.valores li {
  display: block;
  padding: 5px;
  list-style: circle; }

.valores {
  list-style: circle; }

.icono {
  padding: 15px;
  width: 50px; }
